@import url(reset.css);

body{
    background-color: #eee;
    color: black;
    padding-top: 5px;
    padding-bottom: 40px;
    font: 18px serif;
}

.container{
    background-color: #fff;
    width: 511px;
    height: 701px;
    margin: 0 auto;
    padding-top: 48px;
    border-radius: 1px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 18px;
}

.photo{
    width: 138px;
    height: 132px;
    margin: 0 auto;
}

a{
    display: block;
}

.from,
.motivation,
.contacts{
    border-bottom: 1px solid black;
    width: 411px;
    margin: 0 auto;
}

.from{
    height: 38px;
    padding-top: 10px;
}

.motivation{
    height: 143px;
    padding-top: 25px;
}

.contacts{
    height: 147px;
    padding-top: 20px;
}

ul{
    list-style-type: disc;
    margin-top: 27px;
    margin-left: 37px;
    line-height: 1.5;
}

.from p,
.motivation p,
.contacts p{
    margin-left: 12px;
}

.contacts p,
.feedback p{
    line-height: 1.6;
}

.profile {
    margin-top: 21px;
}

.feedback{
    margin-top: 20px;
    margin-left: 62px;
}