@import url(reset.css);

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.eot");
    src: local('O'),
    url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.svg#PT Serif") format("svg");
    font-weight: normal;
    font-style: normal;
}

/*!!!!!!!!!

@font-face {
    font-family: "OpenSans-Regular";
    src: url("../fonts/OpenSans-Regular.eot");
    src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/OpenSans-Regular.woff") format("woff"),
    url("../fonts/OpenSans-Regular.ttf") format("truetype"),
    url("../fonts/OpenSans-Regular.svg#PT Serif") format("svg");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}
*/

body{
    background-color: #f9f9f9;
    color: #2c2c2c;
    font: 14px "OpenSans-Regular";
    font-weight: normal;
    font-style: normal;
}

html, body{
    height: 100%;
}

.clear {clear: both;}

#wraper{
    background-color: #fff;
    width: 966px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    min-height: 900px;
    margin: 0 auto;
    padding: 50px 48px 0 46px;
    position: relative;
}

header{
    height: 120px;
}

.menu{
    height: 40px;
    background: url(../images/header-menu-bg.png) repeat-x;
    margin-top: 40px;
    text-shadow: 1px 1px 1px black;

}

.menu ul li {
    float: left;
    /*margin-right: 1px;*/
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.menu ul li:hover {
    border-left: 1px solid #848484;
    border-right: 1px solid #848484;
}
.menu ul li .active,
.menu ul li:hover a{
    background: url(../images/header-menu-bg-active.png) repeat-x;

    padding: 9px 30px;

}

.menu ul li a{
    color: #fff;
    font-size: 16px;
    display: block;
    padding: 9px 30px;
}

a{
    text-decoration: none;
}

.left,
.content {
    margin-top: 43px;
}

.left{
    width: 240px;
    min-height: 600px;
    float: left;
}

section {display: block;}

.content{
    background-color: #fff;
    width: 665px;
    min-height: 600px;
    float: right;
}

.item{
    width: 100%;
    height: 400px;
    border: 1px solid #848484;
    box-sizing: border-box;
    line-height: 400px;
    text-align: center;


}

.item img{
    vertical-align: middle;

}






.aside-menu{
    border-left: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;


}

.aside-menu ul li {
    background-color: #fff;
    float: none;
    border-top: 1px solid #c9c9c9;
    height: 40px;

}

.aside-menu ul li .active,
.aside-menu ul li:hover a{
    background-color: #f9f9f9;
    padding-left: 35px;
    color: #2c2c2c;

}

.aside-menu ul li a{
    color: #656363;
    font-size: 14px;
    display: block;
    padding: 11px 20px 10px 20px;
}

.info{
    width: 100%;
    min-height: 200px;
    padding: 40px 25px 150px 25px;
    box-sizing: border-box;
    line-height: 1.5;
}

.aside-menu ul li .active,
.aside-menu ul li:hover a{
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

footer{
    position: absolute;
    width: 966px;
    bottom: 60px;
    height: 40px;
    background-color: #e2e2e2;
}

/*.footer-content{
    background-color: #e2e2e2;
    width: 966px;
    height: 40px;
    !*margin: 0 auto;*!

}*/

.footer-menu{
    color: #2c2c2c;
    height: 40px;
    width: 670px;
    float: left;
}



.footer-menu ul li {
    float: left;
    margin-right: 40px;
}

/*!!!!!!!!*/
/*.footer-menu ul li {
    display: inline-block;
}*/




.footer-menu ul li .active,
.footer-menu ul li:hover a{
    text-decoration: underline;
}

.footer-menu ul li a{
    color: #2c2c2c;

    display: block;
    padding: 11px 23px;
}


.rights{
    float: right;
    width: 180px;
    padding-top: 10px;
}

